


body:hover {
    background: #011627;
}

body {
    border-radius: 8px;
    border: 1px solid #1E2D3D;
    background: #01203a;
    color:#E5E9F0;
    transition: background 2s ease;

}

.burger:hover #test {
    transform: scale(0);
}


ul li a {
    color: #4D5BCE;
    font-family: Fira Code;
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

h1 {
    color: #E5E9F0;
    font-family: Fira Code;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
        color: #607B96;
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

